<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="">
    <title>Title</title>
    <style>
        .fail {
            color: white;
            background: red;

        display: {{fail}}
        }
    </style>
</head>
<body>
{% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="fail" >
                                <h4>{{message}}</h4>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
<form action='/email' method='POST'>
<label for="email">
    First Name:<input type="text" name="email" id="email">
    <input type="submit" name="submit" value="Submit">
</label>
</body>
</html>