*{
    margin: 0;
    padding: 0;
}
.wrapper {
    text-align: center;
    background: antiquewhite;
    height: 970px;
    width: 970px;
    margin: auto;
}
.wrapper h1 {
    color: cornflowerblue;
}
.wrapper p{
    font-size: 20px;
    color: blue;
}