<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="">
    <title>login_reg</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h4>{{message}}</h4>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
    <h1>Registration</h1>
    <form action="/create_user" method="post">
        <input type="text" name="first_name" placeholder="First name">
        <input type="text" name="last_name" placeholder="Last name">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="confirm" placeholder="Confirm PW">
        <input type="submit" value="Submit">
    </form>
    <h1>Log In</h1>
    <form action="/validation" method="post">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="Password">
        <input type="submit" value="submit">
    </form>

</body>
</html>